h1  {
  color : red;
  background-color : whitesmoke;
  border : 5px solid navy  ;
 }
p1  {
    background-color : blueviolet;
    color : bisque;
}
}
h2  {
    color : royalblue
}
body {
 font-family: Gill Sans, sans-serif;
    color : skyblue;
    background-color:lightgray;
}
#para1 {
    text-align: right;
    color: lightcoral;
}
#para2 {
    text-align:left;
    color: green;
}
