h1  {
  color : red;
  background-color : whitesmoke;
  border : 5px solid navy  ;
 }

}
h2  {
    color : royalblue
}
body {
 font-family: Gill Sans, sans-serif;
    color : navy;
    background-color:lightgray;
}
#para1 {
    text-align: right;
    color: lightcoral;
}
#para2 {
    text-align:left;
    color: green;
}

#chances {
    color: red;
    border-collapse: collapse;
    width: 100%;
}

#chances td {
    border: 4px solid navy;
    padding: 8px;
}
